<html>
    <head>
        <title>Portfolio</title>
        
        <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
        <link rel="stylesheets" href="/public/css/foundation.css">
        <link rel='stylesheets' href="/public/css/style.css">
    </head>

    <body>
        <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
          <div class="row column">
            <br>
            <img class="thumbnail" src="/images/avatar.jpg">
            <h5> <u>Aman Dutta </u> </h5>
            <p><li>Undergraduate Student at Malaviya National Institute of technology, Jaipur.</li> 
               <li>Coding enthusiasts</li>
               <li>Web Development </li>
            </p>
          </div>
        </div>

        <div class="off-canvas-content" data-off-canvas-content>
          <div class="title-bar hide-for-large">
            <div class="title-bar-left">
              <button class="menu-icon" type="button" data-open="my-info"></button>
              <span class="title-bar-title">Mike Mikerson</span>
            </div>
          </div>
          <div class="callout primary">
            <div class="row column">
              <h1>Namastey! Welcome to my Portfolio.</h1>
              <p class="lead">These are the projects that I've worked and been working on. Feel free to ping me if you have any issues! </p>
            </div>
          </div>
          <div class="row small-up-2 medium-up-3 large-up-4">
            {{{body}}}

          <hr>
        <a href='/admin'>Admin area</a>  
         
        </div>
      </div>
      
    </div>
    
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    </body>
</html>